.profile__title-box {
    margin: 0;
    margin-left: 46px;
    margin-right: calc(46px - 28px);
    padding: 0;
    min-width: 282px;
    position: relative;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 880px) {
    .profile__title-box {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}



