.popup__field {
    border: none;
    margin: 28px 20px 0;
    padding: 8px 0 8px 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    min-width: 238px;
    display: flex;
    flex-direction: column;
}

.popup__field:nth-child(3) {
    margin-top: 8px;
}

@media screen and (min-width: 880px) {
    .popup__field {
        margin: 46px 36px 0;
        width: 358px;
    }

    .popup__field:nth-child(3) {
        margin-top: 5px;
    }
}